In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("german_credit_data.csv")

In [3]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,little,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [4]:
df.isnull().sum()

Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     182
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

In [5]:
df=df.dropna(axis=0,how="any")

In [6]:
df.reset_index(inplace=True)

In [7]:
df=df.iloc[:,1:]

In [8]:
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,little,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,45,male,2,free,little,little,7882,42,furniture/equipment,good
3,53,male,2,free,little,little,4870,24,car,bad
4,35,male,3,rent,little,moderate,6948,36,car,good
...,...,...,...,...,...,...,...,...,...,...
518,48,male,1,own,little,moderate,1743,24,radio/TV,good
519,30,male,3,own,little,little,3959,36,furniture/equipment,good
520,40,male,3,own,little,little,3857,30,car,good
521,23,male,2,free,little,little,1845,45,radio/TV,bad
522,27,male,2,own,moderate,moderate,4576,45,car,good

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Sex"] = le.fit_transform(df["Sex"])
df["Housing"] = le.fit_transform(df["Housing"])
df["Checking account"] = le.fit_transform(df["Checking account"])
df["Purpose"] = le.fit_transform(df["Purpose"])
df["Risk"] = le.fit_transform(df["Risk"])
df["Saving accounts"] = le.fit_transform(df["Saving accounts"])

In [10]:
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,1,2,1,0,0,1169,6,5,1
1,22,0,2,1,0,1,5951,48,5,0
2,45,1,2,0,0,0,7882,42,4,1
3,53,1,2,0,0,0,4870,24,1,0
4,35,1,3,2,0,1,6948,36,1,1
...,...,...,...,...,...,...,...,...,...,...
518,48,1,1,1,0,1,1743,24,5,1
519,30,1,3,1,0,0,3959,36,4,1
520,40,1,3,1,0,0,3857,30,1,1
521,23,1,2,0,0,0,1845,45,5,0
522,27,1,2,1,1,1,4576,45,1,1

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [16]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
classifier=RandomForestClassifier()

In [19]:
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
y_pred=classifier.predict(X_test)

In [22]:
print(accuracy_score(y_pred,y_test))

0.6946564885496184

In [23]:
from sklearn.svm import SVC

In [24]:
clai=SVC(kernel="linear")

In [25]:
clai.fit(X_train,y_train)

SVC(kernel='linear')

In [26]:
y_pred1=clai.predict(X_test)

In [27]:
print(accuracy_score(y_pred1,y_test))

0.6106870229007634